<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body> <!--main section for content displayed-->
    <!DOCTYPE html> <!--this may be a typo-->
<html lang="en">
<head><!--this may be a typo-->
    <meta charset="UTF-8"><!--this may be a typo-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--this may be a typo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--this may be a typo-->
    <title>Document</title><!--this may be a typo-->
</head><!--this may be a typo-->
<body><!--this may be a typo-->
    <h1>Todo List: </h1> <!--main title displayed on page-->
    <ul class="todoItems"><!--create unorded list and assign class to the list-->
    <% for(let i=0; i < items.length; i++) {%><!--use EJS to start a for loop-->
        <li class="item"><!--create a list item with a class of Item-->
            <% if(items[i].completed === true) {%><!--EJS to check if an item in an array with a completed propoerty is true-->
                <span class='completed'><%= items[i].thing %></span><!--creating an inline element with a class and adding EJS to display the name of the task-->
            <% }else{ %><!--EJS for the else clase of our if statement-->
                <span><%= items[i].thing %></span><!--adding EJS to display the name of the task without a class-->
            <% } %>    <!--to close the else statement-->
            <span class='fa fa-trash'></span> <!--Dispaly Font Awesome Trash/delete icon-->
        </li><!--closing our list item-->
    <% } %><!--closing our for EJS FOR loop-->
    </ul><!--closing unordered list-->

    <h2>Left to do: <%= left %></h2><!--Creates a second level heading tag with text and using EJS to display a varialble showing how many tasks are left to copmlete-->

    <h2>Add A Todo:</h2><!--Create a second layer header-->

    <form action="/addTodo" method="POST"><!--Create a form with the POST method that goes to the /addTodo route-->
        <input type="text" placeholder="Thing To Do" name="todoItem"> <!--create an input box accepting text with default text inside before user types anything with a name of todoItem-->
        <input type="submit"><!--gives the form a Submit button-->
    </form><!--Closing the form tag-->
    

    <script src='js/main.js'></script><!--linking to the the main.js file in JS folder in the public folder -->
</body><!--closing the body-->
</html><!--closing the html tag-->
