 h1{ /*selects ANY h1 tag in the ejs file*/
    color: red;/*will turn all the h1 in red*/
}
.completed{/*selects any class laberled as completed*/
    color: gray;/*any text labeled as completed will be gray*/
    text-decoration: line-through;/*any text labeled as completed will have a line through*/
}